:root {
  /* Main */
  --color-primary: #e46b1b;

  /* Feedback */
    --color-overdue: #ef4444;

  /* Neutrals */
    --color-text-main: #1e293b;
    --color-text-light: #555555;
    --color-text-placeholder: #888888;
    --color-text-secondary: #ffffff;
    --color-border: #cccccc;
    --color-border-light: #f1f5f9;
    --color-bg: #f8fafc;
    --color-bg-light: #ffffff;
    --color-bg-secondary: #f0f0f0;

    /* Category */
    --color-cat-personal: #1ABC9C;
    --color-cat-personal-light: rgba(26, 188, 156, 0.1);
    --color-cat-entertainment: #a20b0b;
    --color-cat-entertainment-light: rgba(162, 11, 11, 0.1);
    --color-cat-home: #fcb644;
    --color-cat-home-light: rgba(252, 182, 68, 0.1);
    --color-cat-health: #89d857;
    --color-cat-health-light: rgba(137, 216, 87, 0.1);
    --color-cat-shopping: #2b4326;
    --color-cat-shopping-light: rgba(43, 67, 38, 0.1);
    --color-cat-work: #2612c0;
    --color-cat-work-light: rgba(38, 18, 192, 0.1);
    --color-cat-study: #a40b5b;
    --color-cat-study-light: rgba(164, 11, 91, 0.1);

    /* Priority */
    --color-prio-none: #9e9e9e;
    --color-prio-low: #E6D375;
    --color-prio-medium: #DFC853;
    --color-prio-high: #D9BD30;

    /* Typography */
    --font-family-base: 'Plus Jakarta Sans', sans-serif;
    --font-size-xs: 0.75rem;
    --font-size-base: 1rem;
    --font-size-sm: 0.85rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 2.25rem;
    --font-size-3xl: 3rem;

    /* Spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 40px;

    /* Borders */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;
    --border-radius-xl: 24px;
    --border-radius-full: 9999px;
    --border-width: 1px;

    /* Shadows Colors */
    --shadow-light: rgba(226, 232, 240, 0.5);

    /* Transitions */
    --transition-fast: 0.2s ease-in-out;
}
