:root {
  /* Main */
  --color-primary: #e46b1b;

  /* Feedback */
    --color-overdue: #ff4d4d;

  /* Neutrals */
    --color-text-main: #333333;
    --color-text-light: #555555;
    --color-text-placeholder: #888888;
    --color-text-secondary: #ffffff;
    --color-border: #cccccc;
    --color-bg: #ffffff;
    --color-bg-secondary: #f0f0f0;

    /* Category */
    --color-cat-personal: #1ABC9C;
    --color-cat-work: #2612c0;
    --color-cat-study: #a40b5b;
    --color-cat-health: #89d857;
    --color-cat-shopping: #2b4326;
    --color-cat-home: #fcb644;
    --color-cat-entertainment: #a20b0b;

    /* Typography */
    --font-family-base: 'Lato', sans-serif;
    --font-size-base: 16px;
    --font-size-sm: 0.85rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 3rem;

    /* Spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 40px;

    /* Borders */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-width: 1px;

    /* Transitions */
    --transition-fast: 0.2s ease-in-out;
}
