.container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .container {
        max-width: 600px;
        padding: 40px;
    }
}
