.toast-container {
  position: fixed;
  left: 40%;
  bottom: 38px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: center;
  gap: var(--spacing-sm);
  z-index: 9999;
  pointer-events: none;
}

.toast-card {
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
  width: clamp(260px, 70%, 300px);
  border-radius: var(--border-radius-lg);
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 25px -5px var(--shadow-dark);
  transform: translateY(20px) scale(0.95);
  opacity: 0;
  transition: all var(--transition-cubic-fast);
  pointer-events: auto;
}

.toast-card.open {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.toast-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-md) 20px;
  gap: var(--spacing-md);
}

.toast-text {
  font-size: var(--font-size-sm);
  font-weight: 600;
}

.toast-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px;
  color: var(--color-text-secondary);
  font-family: var(--font-family-base);
  font-size: var(--font-size-sm);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.progress-track {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--color-primary-solid);
}

.progress-fill {
  height: 100%;
  background-color: var(--color-text-terciary);
  transition: width 75ms linear;
  transform-origin: left;
}

.progress-fill.is-animating {
  animation: shrinkBar 6s linear forwards;
}

@keyframes shrinkBar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
