@charset "UTF-8";

@import url('./base/reset.css');
@import url('./base/variables.css');
@import url('./base/typography.css');

@import url('./libs/flatpickr.min.css');

@import url('./layout/container.css');

@import url('./components/forms.css');
@import url('./components/buttons.css');
@import url('./components/datepicker.css');
@import url('./components/category-chips.css');
@import url('./components/priority-chips.css');

@import url('./style.css');
