@charset "UTF-8";
@import url('./reset.css');

body {
    font-family: "Lato", sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
}

.header-todo {
    margin-bottom: 40px;
    text-align: center;
}

.title {
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
}

.sub-titles {
    margin: 2rem 0 1rem 0;
    text-align: center;
}

#task-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-wrapper {
    position: relative;
}

input:focus + label, 
input:not(:placeholder-shown) + label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
}

.input-wrapper label{
    position: absolute;
    top: 18px;
    left: 16px;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

input:focus label {
    opacity: 0;
    visibility: hidden;
}

.options-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

input, select {
    margin: 0.5rem 0;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

#task-title {
    height: 40px;
    padding: 8px 16px;
}

.option {
    text-align: center;
}

#btn-add {
    margin-top: 20px;
    padding: 10px;
    font-size: 1rem;
}

#todo-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.task-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}


.task-item p, .task-item span {
    margin-bottom: 0.75rem;
}

.priority-icon {
    position: absolute;
    bottom: 8px;
    right: 16px;
    width: 44px;
    height: 44px;
    cursor: pointer;
    object-fit: contain;
}

.remove-button {
    position: absolute;
    top: 16px;
    right: 26px;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.remove-button img {
    width: 100%;
    height: 100%;
}

.task-checkbox {
    appearance: none;
    -webkit-appearance: none;
    box-sizing: content-box;

    width: 28px;
    height: 28px;
    margin: 0;
    border: 1px solid #333;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-checkbox:checked {
    background-color: #333;
    border-color: #333;
}

.task-checkbox::after {
    content: '';
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
    margin-bottom: 2px;
}

.input-error {
    border: 1px solid red;
}

.error-message {
    position: absolute;
    right: 16px;
    bottom: 20px;
    color: red;
    font-size: 0.75rem;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
    background-color: #f0f0f0;
}
