@charset "UTF-8";
@import url('./reset.css');

body {
    font-family: "Lato", sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
}

.header-todo {
    margin-bottom: 40px;
    text-align: center;
}

.title {
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
}

.sub-titles {
    margin: 2rem 0 1rem 0;
    text-align: center;
}

#task-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-wrapper {
    position: relative;
}

input:focus + label, 
input:not(:placeholder-shown) + label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
}

.input-wrapper label{
    position: absolute;
    top: 18px;
    left: 16px;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

input:focus label {
    opacity: 0;
    visibility: hidden;
}

.options-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

input, select {
    margin: 0.5rem 0;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

#task-title {
    height: 40px;
    padding: 8px 16px;
}

.option {
    text-align: center;
}

#btn-add {
    margin-top: 20px;
    padding: 10px;
    font-size: 1rem;
}

#todo-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.task-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}


.task-item p, .task-item span {
    margin-bottom: 0.5rem;
}

.task-item img {
    position: absolute;
    bottom: 8px;
    right: 16px;
    width: 44px;
    height: 44px;
    cursor: pointer;
    object-fit: contain;
}

#task-checkbox {
    width: 20px;
}

.input-error {
    border: 1px solid red;
}

.error-message {
    position: absolute;
    right: 16px;
    bottom: 20px;
    color: red;
    font-size: 0.75rem;
}